import "Ntve" {
  preset 消息区域 {
    聊天 = 89CC0A21
  }
  [event] fn 游戏_地图初始化 = 00000120 ();
  [func] fn 所有玩家 = 00000192 () -> 玩家组;
  [func] fn 比较 = C439C375 (值1: 任意 = ABB380C4, 运算符: 比较运算符 = 51567265, 值2: 任意 = 4A15EC5F) -> 布尔;
  [action] fn 显示文本 = 0366EE04 (玩家: 玩家组 = 0D120C33, 区域: 消息区域 = A4C19F41, 文本: 文本 = 78A54B52);
  [action] fn 设置变量 = 00000136 (变量: 变量 = 00000219, 值: 任意 = 00000220);
  [action] fn 返回 = 00000097 (值: 任意 = 00000488);
}

library "1" {
  [const] var sz "Size": 整数 = 3;
  var arr "Array": 整数[2, sz] = 2;

  fn test "test" ()
    k: 整数 = 2 {
    设置变量(arr[1, k], 999);
  }
}
