预设<Ntve> 消息区域 {
  聊天: 89CC0A21
}

事件<Ntve> 游戏_地图初始化 = 00000120;

函数<Ntve> 所有玩家 = 00000192 () -> 玩家组;
函数<Ntve> 比较 = C439C375 (值1: 任意 = ABB380C4, 运算符: 比较运算符 = 51567265, 值2: 任意 = 4A15EC5F) -> 布尔;

动作<Ntve> 显示文本 = 0366EE04 (玩家: 玩家组 = 0D120C33, 区域: 消息区域 = A4C19F41, 文本: 文本 = 78A54B52);
动作<Ntve> 设置变量 = 00000136 (变量: 变量引用 = 00000219, 值: 任意 = 00000220);
动作<Ntve> 返回 = 00000097 (值: 任意 = 00000488);

触发器 初始化 "初始化" 游戏_地图初始化
  文本 testdoc = 文本"999"
  字符串 test = "12345"
{
  设置变量 (testdoc, 文本"6789");
  显示文本 (所有玩家(), 消息区域.聊天, testdoc);
  测试2 (1);
}

函数 测试 "测试" -> 布尔 (a: 整数)
  整数 b = 2
{
  返回(真);
}

动作 测试2 "测试2" (a: 整数)
  整数 b = 2
{
}